/* General */
body {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1, h2, h5 {
  font-weight: 700;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #1964b0;
}

/* Navbar */
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1rem;
  margin-right: 1rem;
}

/* Hero Section */
header {
  color: #fff;
  background-image: linear-gradient(to right, #1964b0, #3d8ef7);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

header .btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Section Styling */

.section {
  position: relative;
  z-index: 1;
  margin-top: -30px; /* Overlapping effect */
  padding: 60px; /* Increase size */
  min-height: 130px; /* Ensure a minimum height */
  font-size: 1.2rem; /* Larger text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.section:first-of-type {
  margin-top: 0; /* Ensure the first section doesn't overlap anything */
}

section {
  margin-bottom: 2rem;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Tags */
.tag-container .badge {
  background-color: #fff;
  transition: all 0.3s ease;
}

.tag-container .badge:hover {
  background-color: #1964b0;
  color: #fff;
  border-color: #1964b0;
}

/* Cards */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Why Listen Section */
#episodes .row div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#episodes .row div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  background-color: #1964b0;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: #ffebcd;
}
